.footer-container{
    background-color: rgb(243, 230, 230);
}

.top-container{
    width:80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}
.footercard{
    display:flex;
    

}
.footercard>div:nth-child(1){
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footercard>div:nth-child(2){
width:80%;
line-height: 20px;

}
.footercard>div>img{
    width:100%;
}