.banner{
    background-image:url("https://drive.google.com/uc?export=view&id=12I5RvOT2WdiA2lR2bQMsrUCWyTicJlDA");
    width:100%;
    border:1px solid red;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:70vh;
}
.sec1{
    background-image:url("https://eddiebauer.scene7.com/is/image/EBContent/230111_hp_boots_V8?$a8$");
    width:100%;
    border:1px solid red;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:70vh;
}