
.products-wrapper{
    display: flex;
    margin: 10px;
}
.products-wrapper>div:nth-child(1){
    width:20%;
}

.product-container{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 10px;
    gap:20px;
}
.product-container>div{
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
}
.product-container>div:hover{
   background-color: rgb(201, 240, 240); 
}
.product-container>div>img{
    width: 100%;
}
.pro{
    color: brown;
}
h2{
  text-align: center;  
}



